/* GENERAL STYLE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
/* UTILITY */
.container {
	max-width: 1200px;
	margin: 0 auto;
}
body {
	color: #858585;
}
.clearfix::after {
	content: "" ;
	display: table;
	clear: both;	
}
.mb-40 {
	margin-bottom: 40px;
}
.px-10 {
	padding-left: 10px;
	padding-right: 10px;
}
.bg-ad{
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
}



/* HEADER */
header{
}
.logo-header {
	width: 170px;
}
.nav-item li {
	display: inline-block ;
	margin-right: 15px;
	
}
.nav-item :last-child {
	margin-right: 0px;
	
}
.nav-item li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #858585;
}
.nav-item li a:hover {
	color: #b10000;
	text-decoration:underline;
}
.nav-item li a :last-child{
	margin-right: 0px;
}




/* MAIN */
.pict {
	min-height: 500px;
	background-image: url("../img/banner.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: center;
	border-radius: 20px;
	
}
.photo-sect{
	position: relative;
}
.pict::before,
.img-1::before,
.img-2::before,
.img-3::before {
	content: '';
	background: rgba(0, 0, 0, 0.20);
	height: 100%;
	position: absolute;
	width: 100%;
	border-radius: 20px;
	
}

.pict-text {
	max-width: 580px;
	color: #fff;
	position: absolute;
	bottom: 70px;
	left: 50px;
}
.pict-text h1 {
	font-weight: 500;
	font-size: 30px;
}


.column h4{
	margin: 20px 0 20px 0;
	font-weight: 500;
	color: black;

}

.columns-head > h2{
	font-size: 35px;
	color: black;
	font-weight: 700;
	
}

.img-1 {
	min-height: 200px;
	background-image: url("../img/img-1.jpg");
	background-size: 105%;
	
}
.img-2 {
	min-height: 200px;
	background-image: url("../img/banner-2.jpg");
	background-size: 100%;
	
}
.img-3 {
	min-height: 200px;
	background-image: url("../img/img-3.jpg");
	
}
.columns .column {
	float: left ;
	width: 20%;
	
}

.columns .column:nth-child(2) {
	width: 60%;
}
.column-title {
	margin-bottom: 20px;
}
/* FOOTER */
footer {
	text-align: center;
	color: black;
	
}
footer span{
	color: red;
	font-size: 25px;
}
