/* GENERAL STYLE */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
/* UTILITY */
.container {
	max-width: 1200px;
	margin: 0 auto;
}

.clearfix::after {
	content: "" ;
	display: table;
	clear: both;	
}
.mb-40 {
	margin-bottom: 40px;
}
.px-10 {
	padding-left: 10px;
	padding-right: 10px;
}
.debug-box {
	height: 70px;
	background-color: royalblue;
}

/* HEADER */
header{
}
.logo-header {
	width: 170px;
}
.nav-item li {
	display: inline-block ;
	margin-right: 15px;
	
}
.nav-item :last-child {
	margin-right: 0px;
	
}
.nav-item li a {
	text-decoration: none;
	text-transform: uppercase;
	color: #858585;
}
.nav-item li a :last-child{
	margin-right: 0px;
}




/* MAIN */
.pict {
	
	min-height: 500px;
	background-image: url("../img/banner.jpg");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position-y: center;
	border-radius: 20px;
	
}
.photo-sect{
	position: relative;
}
.pict::before {
	content: '';
	background: rgba(0, 0, 0, 0.20);
	display: block;
	height: 100%;
	position: absolute;
	width: 100%;
	border-radius: 20px;
	
	
}

.pict-text {
	max-width: 580px;
	color: #fff;
	position: absolute;
	bottom: 70px;
	left: 50px;
}
.pict-text h1 {
	font-weight: 500;
}

.columns-section {
	background-color: dodgerblue;
}
.columns-head {
	margin-bottom: 20px;
}
.columns .column {
	float: left ;
	width: 20%;
}

.columns .column:nth-child(2) {
	width: 60%;
}
.column-title {
	margin-bottom: 20px;
}

footer {
	background-color: purple ;
	height: 70px;
}